@CHARSET "ISO-8859-1";

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

.img {
	vertical-align: text-bottom;
}



td {font-family:"Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;  font-size:"9pt"; 
 vertical-align: "text-bottom";}

<!-- //font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
"Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
-->
